:root {
    --bg-primary-color: #1D1D1D;
    --bg-secondar-color: #232323;
    --txt-primary-color: #FFFFFF;
    --txt-secondary-color: #D0D0D0;
    --menu-height: 70px; /*will be used as offset for multiple elements */
}

html {
    scroll-snap-type: y mandatory;
}

body {
    overflow-x: hidden;
    margin: auto;
    background-color: var(--bg-primary-color);
    color: var(--txt-primary-color);
    display: flex;
    flex-direction: column;
}

/* Navigation menu */
nav {
    position: fixed;
    z-index: 1;
    background-color: var(--txt-primary-color);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: var(--bg-secondar-color);
    height: var(--menu-height);
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

li {
    padding-left: 4vw;
    padding-right: 4vw;
    align-content: center;
}

/* Links */
a {
    text-decoration: none;
    color: var(--txt-primary-color);
}

section {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
    margin: 20px;
    /* dont adjust padding, will mess up scrolling */
}

h1 {
    padding-top: var(--menu-height);
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

h2 {
    padding-top: var(--menu-height);
    margin: 0;
}

p {
    margin: 0;
}