/* Constants */
:root {
    --bg-primary-color: #FFFFFF;
    --bg-secondary-color: #292929;
    --txt-primary-color: #222222;
    --txt-secondary-color: #FFFFFF;
    --menu-height: 70px; /* will be used as offset for multiple elements */
    --left-offset: 18vw; /* main content offest from the left */
    --width-left: calc(100vw - var(--left-offset)); /* space left after offset */
    --text-block-height: 50vh;
    --text-block-width: calc(var(--width-left)/2);
}

.dark-theme {
    --bg-primary-color: #292929;
    --bg-secondary-color: #FCFCFC;
    --txt-primary-color: #FFFFFF;
    --txt-secondary-color: #000000;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #464646; 
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* HTML and body */
html {
    scroll-snap-type: y mandatory;
    width: 100vw;
}

body {
    overflow-x: hidden;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: var(--bg-primary-color);
    color: var(--txt-primary-color);
    display: flex;
    flex-direction: column;
}

/* Main navigation menu */
.menu {
    position: fixed;
    z-index: 1;
    width: 40vw;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary-color);
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
}

.menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.menu a {
    text-align: right;
    text-decoration: none;
    color: var(--txt-secondary-color);
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: var(--width-left);
    scroll-snap-align: start;
    position: relative;
    margin-top: 20px;
    padding-left: var(--left-offset);
}

/* Titles and text */
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    width: auto;
    text-wrap: wrap;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 150;
    margin: 0;
    width: auto;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0;
    text-align: justify;
    padding-top: 15px;
    padding-right: 20px;
}

section h1 {
    padding-top: 30vh;
}

/* Home */
#home h1 {
    padding-top: 10px;
    font-size: 2rem;
}
#home h2 {
    padding-top: 45vh;
}

/* About */
#about .about-text-container {
    width: var(--text-block-width);
}

/* Skills */
#skills .skill-container {
    display: flex;
    flex-direction: row;
    width: var(--width-left);
}

#skills .skill-text-container {
    overflow-x: hidden;
    margin-top: 10px;
    overflow-y: scroll;
    height: var(--text-block-height);
    width: var(--text-block-width);
    border-radius: 20px;
}

#skills .skill-graph-container {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: repeat(auto-fill, 48px);
    overflow-y: scroll;
    width: 350px;
    height: calc(48px * 8);
    margin-top: -60px;
    margin-right: 50px;
    margin-left: 60px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
}

#skills img {
    align-self: center;
    height: 25px;
    width: 25px;
    padding: 5px;
}

#skills .skill-graph-container .progress-bar {
    align-self: center;
    height: 2px;
    width: 280px; /* 100% value of progress bar */
    font-size: 0;
    background-color: var(--txt-secondary-color);
}

/* Projects */
#projects .projects-menu {
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    height: calc(var(--text-block-height) - 6vh);
    background-color: var(--bg-primary-color);
    margin-right: var(--left-offset);
    margin-top: 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#projects .projects-menu-item {
    align-self: center;
    height: calc(var(--text-block-height) - 12vh);
    width: calc(var(--text-block-height) - 12vh);
    background-color: var(--bg-primary-color);
    border-radius: 20px;
    margin-left: 2vh;
    margin-right: 2vh;
    flex: 0 0 auto;
    overflow: hidden;
    
}

#projects .projects-menu-item .code-container {
    margin-top: -20px;
}

#projects .projects-menu-item .code-container code{
    margin-top: -30px;
    overflow: hidden;
    
}

#projects .projects-menu-item .code-container:hover code {
    filter: blur(2px) saturate(200%); 
    transition: filter 0.3s ease;
}