/* Constants */
:root {
    --bg-primary-color: #FFFFFF;
    --bg-secondary-color: #292929;
    --txt-primary-color: #222222;
    --txt-secondary-color: #FFFFFF;
    --left-offset: 18vw; /* main content offest from the left */
    --width-left: calc(100vw - var(--left-offset)); /* space left after offset */
    --text-block-height: 60vh;
    --text-block-width: calc(var(--width-left)/2);
}

.dark-theme {
    --bg-primary-color: #292929;
    --bg-secondary-color: #FCFCFC;
    --txt-primary-color: #FFFFFF;
    --txt-secondary-color: #000000;
}

strong, b {
    font-weight: 600;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--bg-secondary-color); 
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* HTML and body */
html {
    scroll-snap-type: y mandatory;
    width: 100vw;
}

body {
    overflow-x: hidden;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: var(--bg-primary-color);
    color: var(--txt-primary-color);
    display: flex;
    flex-direction: column;
}

/* Buttons */
#menu-btn {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 50px;
    height: 40px;
    width: 40px;
    background-color: var(--bg-secondary-color);
    color: var(--txt-secondary-color);
    border-radius: 10px;
    border: 0px;
}

#dark-theme-btn {
    align-self: flex-end;
    height: 20px;
    width: 38px;
    background-color: var(--bg-primary-color);
    color: var(--txt-primary-color);
    border-radius: 15px;
    position: relative;
    border: 0px;
}

/* Button animation */ 
#dark-theme-btn .slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: var(--txt-primary-color);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    right: 0;
    transition: right 0.3s ease-in-out;
}

#dark-theme-btn .slide {
    right: 30%;
}

/* Main navigation menu */
.menu {
    position: fixed;
    z-index: 1;
    width: 40vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary-color);
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0 100%);
    right: -40vw;
    transition: right 0.3s ease-in-out; /* Transition when opening/closing */
}

/* menu slides in */
.menu.menu-open {
    right: 0;
}

.menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    padding-top: 100px;
    padding-right: 50px;
    width: 100px;
    align-self: flex-end;
}

.menu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu a {
    text-align: right;
    text-decoration: none;
    color: var(--txt-secondary-color);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

.menu .menu-links {
    display: flex;
    flex-direction: row;
    /* optimized for different browsers */
    width: -moz-available;
    width: -webkit-fill-available;
    width: -o-fill-available;
    width: -ms-fill-available;
    width: stretch;
    justify-content: flex-end;
    position: inherit;
    bottom: 0;
    padding-right: 50px;
    margin-bottom: 20px;
}

.menu .menu-links img {
    height: 25px;
    width: 25px;
    margin: 5px;
}

.menu .menu-links .pipe {
    height: 25px;
    width: 2px;
    background-color: var(--txt-secondary-color);
    margin: 5px;
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: var(--width-left);
    position: relative;
    margin-top: 20px;
    padding-left: var(--left-offset);
}

/* Titles and text */
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    width: auto;
    white-space: pre-wrap;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 150;
    margin: 0;
    width: auto;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1.4rem;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0;
    text-align: justify;
    padding-top: 15px;
    padding-right: 20px;
}

section h1 {
    padding-top: 30dvh;
}

a {
    text-decoration: none;
    color: var(--txt-primary-color);
}

/* Home */
#home h1 {
    padding-top: 10px;
    font-size: 2rem;
    width: var(--text-block-width);
}
#home h2 {
    padding-top: 45dvh;
    width: var(--text-block-width);
}

/* About */
#about .about-text-container {
    width: var(--text-block-width);
    height: var(--text-block-height);
    overflow-y: scroll;
    margin-top: 10px;
}

/* Skills */
#skills .skill-container {
    display: flex;
    flex-direction: row;
    width: var(--width-left);
}

#skills .skill-text-container {
    overflow-x: hidden;
    margin-top: 10px;
    overflow-y: scroll;
    height: var(--text-block-height);
    width: var(--text-block-width);
    border-radius: 20px;
}
/* Skill graph style */
#skills .skill-graph-container {
    z-index: 4;
    overflow-x: hidden;
    grid-template-columns: 40px 1fr;
    grid-template-rows: repeat(auto-fill, 48px);
    overflow-y: scroll;
    width: 350px;
    height: calc(48px * 8);
    margin-top: -60px;
    margin-right: 150px;
    margin-left: 60px;
    padding-left: 25px;
    padding-top: 80px;
    padding-bottom: 20px;
    border-radius: 10px;
}

#skills .skill-graph-container .progress-bar {
    align-self: center;
    height: 3px;
    width: 280px; /* 100% value of progress bar */
    font-size: 0;
    background-color: var(--txt-primary-color);
    margin-left: 10px;
    border-radius: 20px;
}
/* -------------------------- */

#skills img {

    align-self: center;
}

/* Projects */
#projects .projects-menu {
    z-index: 4;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    height: calc(var(--text-block-height) - 6dvh);
    background-color: transparent;
    margin-right: var(--left-offset);
    margin-top: 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#projects .projects-menu-item {
    align-self: center;
    height: calc(var(--text-block-height) - 12dvh);
    width: calc(var(--text-block-height) - 12dvh);
    border-radius: 20px;
    margin-left: 2dvh;
    margin-right: 2dvh;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

#projects .projects-menu-item .item-txt-container {
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 3;
    color: white;
    padding-left: 20px;
    white-space: pre-wrap;
    height: inherit;
    justify-content: space-between;
    flex-direction: column;
}

#projects .projects-menu-item a {
    color: white;
}

#projects .projects-menu-item .item-txt-container .item-description {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 25px;
    
}

#projects .projects-menu-item p {
    font-size: 0.8rem;
    text-align: left;
}

/* Graph for languages used in projects*/
#projects .project-graph-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
}

#projects .project-graph {
    width: 250px;
    background-color: transparent;
    height: 5px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 20px;
}

#projects .segment {
    padding: 0;
    margin: 0;
    margin-left: 4px;
}

#projects .segment:nth-child(1) {
    margin-left: 0;
}

#projects .project-graph-languages {
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#projects .project-graph-languages p {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-right: 20px;
}

#projects .project-graph-languages .dot {
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: white;
    align-self: flex-end;
    margin-left: 3px;
    margin-right: 10px;
    margin-bottom: 3px;
}

/* ---------------------------------- */

#projects .projects-menu-item .code-container {
    margin-top: -20px;
}

#projects .projects-menu-item .code-container code{
    margin-top: -30px;
    overflow: hidden;
    
}

#projects .projects-menu-item:hover .item-txt-container {
    display: flex;
    flex-direction: column;
}
#projects .projects-menu-item:hover code {
    filter: blur(5px) saturate(300%) brightness(80%); 
    transition: filter 0.3s ease;
}

/* Contact */
#contact .contact-icons {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

#contact .contact-icons img{
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-left: 0;
}

/* Touch instead of hover for mobile */
#projects .projects-menu-item.touch-hover .item-txt-container {
    display: flex;
    flex-direction: column;
}
#projects .projects-menu-item.touch-hover code {
    filter: blur(5px) saturate(300%); 
    transition: filter 0.3s ease;
}

/* Media queries */
/* Optimalization for smaller screens */

/* Small laptop */
@media screen and (max-width: 1024px) {
    #skills .skill-container {
        width: auto;
        flex: 0 0 auto;
        overflow: hidden;
        position: relative;
        overflow-x: auto;
        scroll-behavior: smooth;
        background-color: transparent;
        margin-right: var(--left-offset);
        margin-top: 35px;
        border-radius: 20px;
        height: var(--text-block-height);
    }

    #skills .skill-text-container {
        height: var(--text-block-height);
        overflow-y: scroll;
        flex: 0 0 auto;
        position: relative;
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        width: 65vw;
        margin-right: var(--left-offset);
        white-space: normal;
    }

    #skills .skill-text-container p {
        margin-left: 10px;
    }

    #skills .skill-graph-container {
        flex: 0 0 auto;
        overflow: hidden;
        position: relative;
        margin: 0;
        padding: 0;
        width: 65vw;
        align-self: flex-end;
        height: var(--text-block-height);
        overflow-y: scroll;
    }

    #skills .skill-graph-container img {
        margin-top: 2vh;
        margin-left: 15px;
    }
}

/* Mobile and small tablet */
@media screen and (max-width: 800px) {
    .menu {
        width: 60vw;
        right: -60vw;
    }

    #projects .projects-menu {
        z-index: 0;
    }
}

/* small tweaks for different thresholds */
@media screen and (max-height: 700px) {
    #skills .skill-container,
    #skills .skill-text-container,
    #skills .skill-graph-container{
        z-index: 0;
    }

    #projects .project-graph {
        width: 150px;
    }
}

@media screen and (max-height: 500px) {
    #projects .projects-menu {
        z-index: 0;
    }
}

@media screen and (max-width: 800px) {
    #skills .skill-container,
    #skills .skill-text-container,
    #skills .skill-graph-container{
        z-index: 0;
    }

    #about .about-text-container {
        width: 65vw;
    }

    
    #about .about-text-container {
        margin-right: 50px;
    }
}

/* mobile devices */
@media screen and (max-width: 540px) {
    .menu {
        width: 80vw;
        right: -80vw;
    }

    #skills .skill-container .skill-graph-container .progress-bar {
        width: 250px;
    }

    #projects .projects-menu-item {
        height: calc(var(--text-block-height) - 20dvh);
        width: calc(var(--text-block-height) - 20dvh);
    }
}

@media screen and (max-width: 440px) {
    .menu {
        width: 100vw;
        right: -100vw;
    }

    #skills .skill-container .skill-graph-container .progress-bar {
        width: 200px;
    }
}